<div *ngIf="artist">
    <header>
        <div *ngIf="artist.images.length > 0">
            <img src="{{artist.images[0].url}}" alt="" class="artist-thumb img-circle">
        </div>
        <h1>{{artist.name}}</h1>
        <p *ngIf="artist.genres.length > 0 ">
            Genres: <span *ngFor="let genre of artist.genres">{{genre}}, </span>
        </p>
    </header>
    <div class="artist-albums">
        <div class="row">
            <div *ngFor="let album of albums">
                <div class="col-md-4 col-sm-6">
                   <div class="well">
                        <img src="{{album.images[0].url}}" alt="" class="img-thumbnail">
                       <p class="text-center">{{album.name}}</p>
                       <a class="btn btn-default btn-block" routerLink="/album/{{album.id}}"><small>Details</small></a>
                       <br>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
